@using Anytime.Mailbox.Renter.Portal.Setup;
@using System.Security.Claims;
@using Anytime.Mailbox.Renter.Portal.Extensions;

@inject HostingHelpers _hostingHelpers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anytime.Mailbox.Renter.Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Anytime.Mailbox.Renter.Portal.styles.css" asp-append-version="true" /> *@

	@* @Html.Raw(_hostingHelpers.IncludeLibFiles()) *@
	@Html.Raw(_hostingHelpers.IncludeCssFiles())
</head>
<body>

	<header>
		
	</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Anytime.Mailbox.Renter.Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
	@Html.Raw(_hostingHelpers.IncludeJsFiles())
    
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
